#app {
  z-index: 3;
}

body {
  overflow-x: hidden;
}

#footer {
  display: flex;
  align-items: center;
  font-size: 15px;
  width: 100%;
  height: 50px;
  position: relative;
  top: -5px;
  left: 8%;
}

.footer-pic {
  width: 24px;
  height: 27px;
  margin-right: 10px;
}
.far.fa-copyright {
  margin-right: 10px;
}

/* #reviews {
  width: 800px;
} */
/* 
#container {
  flex-direction: column;
  width: 80%;
}

.column {
  display: flex;
  flex-direction: column;
} */
